
html{
    scroll-behavior: smooth;
    scroll-padding: 80px;
    font-style:normal;
}
body{
    background-color:  #0c1022 !important;
    position: relative;
    scroll-padding: 80px;
}

:root {
    --bs-body-bg:   black;
    --bs-body-color: white;
}

* {
    color: white;
    box-sizing: border-box;
}
.container-fluid {
    margin: 0 auto;
    height: 600px;
    width: auto;
    /*max-width: 1200px;*/
}
.d-block{
    background-size: cover;
    background-position: center;
}
/*------------IMG-----------*/
.cover{
  width: 100%;
 height: 750px;
}
.cover2{
    height: 750px;
    width: 1900px;
}

/*----------Services--------*/


.services{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    direction: column;
    gap: 1.5vw;
    padding: 0 3vw;
    position: relative;
     
}
.h1 .pink{
    padding: 60px;

}
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    padding: 0 3vw;
    border-radius: 64px;
    text-align: center;
    padding: 100px 50px;
    margin-top: -60px;
    background: #151515;
    margin-top: -150px;
}
img {
    border-radius: 8px;
    height: 7rem;
}
p{
    text-align: center;
    line-height: 2rem;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

button{
    padding: 0.6rem 3rem;
    letter-spacing: 0.2rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    border: none;
    color: white;
    background-color:  rgb(63, 0, 113);
    transition: 0.3s ease-in-out;
}
  @media screen and (min-width: 260px) and (max-width: 1080px) {
   
}
.services{
    grid-template-columns: 1fr;
}

/*------Menu-------*/

#menux{
    display: block;
    grid-template-columns: repeat(3);
    direction: column;
    gap: 1.5vw;
    padding: 2 10vw;
}
.menu {
    display: flex;
    padding: 20px;
}
.menus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    padding: 0 3vw;

}
.h3{
    color: rgb(228, 56, 228);
}
.title{
    padding: 20px;
    margin-top: auto;
    text-align: center;
}
.p{
    text-align: center;
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color:rgb(228, 56, 228)
}

.image{
    max-height: 20rem;
    overflow: hidden;
    border-radius: 1rem;
}
.menu img{
    height: 20rem;
    width: 15rem;
    object-fit: cover;
}
 



/*-------------------------------Sinup, Login--------------------------------*/

.form{
    display: flex;
    background: rgb(11, 2, 32);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.regcon{
    position: relative;
    width: 350px;
    height: 500px;
    background: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 32px;
    overflow: hidden;
}
.regcon::before{
    content:"";
    position: absolute;
    height: 650px;
    width: 650px;
    background: conic-gradient(
        transparent,transparent,transparent, #d400d4
    );
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.regcon::after{
    content:"";
    position: absolute;
    height: 650px;
    width: 650px;
    background: conic-gradient(
        transparent,transparent,transparent, #8314b3
    );
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}
.rgbborder{
    position: absolute;
    inset: 5px;
    background-color: #0c1022;
    z-index: 1;
    border-radius: 16px;
}
.logcon{
    position: relative;
    width: 350px;
    height: 500px;
    background: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 32px;
    overflow: hidden;
}
.logcon::before{
    content:"";
    position: absolute;
    height: 650px;
    width: 650px;
    background: conic-gradient(
        transparent,transparent,transparent, rgb(63, 0, 113)
    );
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.logcon::after{
    content:"";
    position: absolute;
    height: 650px;
    width: 650px;
    background: conic-gradient(
        transparent,transparent,transparent,  rgb(63, 0, 113)
    );
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}
.rgblog{
    position: absolute;
    inset: 5px;
    background-color: #0c1022;
    z-index: 1;
    border-radius: 16px;
}
.rgbborder{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    position: center;
}
.div.regcon.conatiner{
    position: center;
}
.regcon{
    position: center;
    background-color: #0c1022;
    font-size: 32px;
    color: white;
    text-align: center;
}
.input-box{
    position: relative;
    margin: 20px 0;
    width: 380px;
    border-bottom: 2px solid rgb(63, 0, 113);
}
.input-box input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 35px 0 5px;
    color: white;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.input-box label{
    position: absolute;
    color: white;
    top: 50%;
    left: 5px;
    transform: translateY(-50);
    font-size: 16px;
    pointer-events: none;
    transform: .5s;
}
.forgot-password,
.forgot-password a {
    text-align: right;
    font-size:13px;
    padding-top: 10px;
    color: white;
    margin: 0;
}
.forgot-password a{
    color:rgb(228, 56, 228)
}
 

/*-------------Contact--------*/

.contact{
  background: linear-gradient(90.21deg, #3e053f -5.91%, #2f0c53 111.58%);
  padding: 35px 0 100px 0;
  border-radius: 40px;
}

.contact form input, form textarea{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(136, 13, 167, 0.5);
  border-radius: 30px;
  justify-content: center;
  color: #fff;
  margin-right: 60%px;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
  border-radius: 2%;
  width: 100%;
  
}
.contact form input::focus, .contact form textarea::focus{
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact input::placeholder, .contact form textarea::placeholder{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder{
    color: #121212;
    opacity: 0.8;
}
.contact-image{
    width: 300px;
    height: auto;
    margin-left: 50px;
    border-radius: 40px;
}


/* ---------------------MenuItems------------------*/

.menuitem{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    direction: column;
    gap: 1.5vw;
    padding: 2 10vw;
}
.burgers {
    display: flex;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    padding: 0 3vw;
}

.h3{
    color: rgb(228, 56, 228);
}
.h1titlte{
    padding: 20px;
    margin-top: auto;
    text-align: center;
}
.p{
    text-align: center;
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color:rgb(228, 56, 228)
}

.image{
    max-height: 20rem;
    overflow: hidden;
    border-radius: 1rem;
}
.menu img{
    height: 20rem;
    width: 15rem;
    object-fit: cover;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}
.menu img:hover {
    width: 20rem;
    height: 25rem;
  }
.button{
    border: none;
    padding: 1rem 4rem;
    font-size: 1.4rem;
    color: white;
    border-radius: 4rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background:  rgb(63, 0, 113);
    text-transform: uppercase;
}
.conatiner{
    padding: 70px;
}

/* ---------------HAMBURGER GIF ----------------*/ 

/* .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 arányhoz 
  } */

.video-container{
    padding-bottom: 0%; 
   
}

.fooldal{
    display: flex;
    align-items: center;
    background-color: #0c1022;
    background-image: url("/public//video2.mp4");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
   
}

/*----------------Mobil applikáció-------------------*/

.app_container{
    background: #0a071A ;
    border-radius: 10px;
    padding: 35px 0 100px 0;
}

.app_img{
    margin-bottom: -100px;
    width: 300px;
    height: auto;
    margin-left: 50px;
    border-radius: 40px;
}

.app_content h5{
   color: white; 
}

.app_content p{
    color: white; 
 }
 

.app_content h2{
    color: white;
    font-weight: 600;
}

.app_content{
    padding-top: 50px
}

.btn_apple{
    background: #0a071A;
    border: none;
    color: #fff;
    padding: 7px 25px;
    border-radius: 5px;
}
