html, body{
    background-color: black;
}

:root {
    --bs-body-bg: black;
    --bs-body-color: white;
}

* {
    color: white;
}
.forgot-password,
.forgot-password a {
    text-align: right;
    font-size:13px;
    padding-top: 10px;
    color: white;
    margin: 0;
}
.forgot-password a{
    color:rgb(228, 56, 228)
}
