@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Nunito:ital@1&display=swap');

html, body{
    background-color: black;
    font-family: 'Shantell Sans', cursive;
}

:root {
    --bs-body-bg: black;
    --bs-body-color: white;
}

* {
    color: white;
    box-sizing: border-box;
}
.forgot-password,
.forgot-password a {
    text-align: right;
    font-size:13px;
    padding-top: 10px;
    color: white;
    margin: 0;
}
.forgot-password a{
    color:rgb(228, 56, 228)
}
.auth-wrapper{
    display: felx;
    justify-content:center;
    flex-direction: column;
    text-align: left;
}
.auth-inner{
    width: 450px;
    margin: auto;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

